body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    font-weight: normal;
}
ul,
p,
header,
main,
footer,
.main-wrapper,
h1,
h2,
h3,
li,
div,
form,
input,
button {
    padding: 0;
    margin: 0;
}
.content-wrapper-index {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
    position: relative;
}
h2 {
    font-size: 35px;
    font-weight: bold;
}
h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}
ul li {
    list-style-type: none;
}
.header-left,
.header-right,
.header-left li,
.search,
.user-block,
.cart,
.social,
.sub-links,
.sub-links-left,
.sub-links-right,
.developer {
    display: inline-block;
    vertical-align: middle;
}
header {
    max-height: 65px;
}
.header-left {
    margin-left: 162px;
    width: 575px;
}
.logo {
    content: "";
    background: url(../img/spritesheet.png) no-repeat -246px -5px;
    width: 154px;
    height: 64px;
    position: absolute;
    left: 22px;
    top: 9px;
}
.nav-links {
    margin-top: 22px;
    margin-bottom: 20px;
}
.nav-links a,
.catalog a {
    padding: 8px 14px;
    color: #ffffff;
    text-decoration: none;
}
.nav-links a:hover {
    background: #ffffff;
    border-radius: 20px;
    color: #323232;
    text-decoration: none;
}
.nav-links li:hover {
    background: #ffffff;
    border-radius: 20px;
    color: #323232;
    text-decoration: none;
}
.nav-links a:active {
    box-shadow: inset 0 2px 1px 0 #696969;
}
.nav-links li {
    position: relative;
}
.nav-links>li::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0;
}
.nav-links>li:hover::before{
    display: none;
}
.content-wrapper-index>.catalog::before {
    width: 69%;
    left: 16%;
}
.nav-links>li:nth-child(2)::before {
    width: 84%;
    left: 8%;
}
.nav-links>li:last-child::before {
    width: 75%;
    left: 13%;
}
.catalog:hover>a {
    background: #ffffff;
    color: #323232;
    border-radius: 20px;
}
.header-right {
    width: 393px;
    text-align: right;
    padding-left: 15px;
    font-size: 14px;
}
.search a,
.user-block a,
.cart a {
    color: #ffffff;
    text-decoration: none;
}
.user-block:hover>a,
.cart:hover>a {
    color: #323232;
    font-weight: 500;
}
.search,
.user-block,
.cart {
    margin-left: 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin-top: 22px;
    margin-bottom: 20px;
    vertical-align: top;
}
.search-icon {
    display: block;
    width: 17px;
    height: 22px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -239px -102px;
    padding: 5px 8px;
}
.search-icon:hover {
    border-radius: 20px;
    width: 17px;
    height: 22px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -339px -102px;
}
.search:hover {
    background: #ffffff;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    background-position: -339px -102px;
}
.search:hover .search-icon {
    background-image: none;
}
.user-block {
    padding: 5px 16px;
    box-sizing: border-box;
    width: 95px;
}
.user-block:hover {
    background: #ffffff;
    width: 95px;
}
.user-block a:hover {
    color: #323232;
}
.user-block::before {
    content: "";
    display: inline-block;
    background: url(../img/spritesheet.png) no-repeat -35px -35px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.user-block:hover::before {
    background: url(../img/spritesheet.png) no-repeat -65px -35px;
}
.cart {
    padding: 5px 34px 5px 16px;
    box-sizing: border-box;
    width: 119px;
}
.cart:hover {
    background: #ffffff;
    width: 119px;
}
.cart:hover > a {
    color: #323232;
}
.cart::before {
    content: "";
    display: inline-block;
    background: url(../img/spritesheet.png) no-repeat -67px -5px;
    width: 21px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.cart-index:hover::before {
    background: url(../img/spritesheet.png) no-repeat -36px -5px;
}
.cart-inner {
    padding: 5px 15px;
}
.cart-inner::before {
    background: url(../img/spritesheet.png) no-repeat -98px -5px;
}
.cart-inner:hover::before {
    background: url(../img/spritesheet.png) no-repeat -5px -5px;
}
.contacts-small {
    position: absolute;
    top: 70px;
    right: 27px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}
.contacts-small span {
    display: block;
    margin-top: 3px;
    font-size: 22px;
    font-weight: 900;
}
.h1-index {
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    text-align: center;
    padding-top: 328px;
    padding-bottom: 30px;
}
.index-slider {
    text-align: center;
    margin-bottom: 40px;
}
.index-slider-button {
    margin: 0;
    text-align: center;
    padding: 13px 47px 13px 38px;
    font-size: 31px;
    font-weight: bold;
    line-height: 63px;
    border-radius: 33px;
    color: #ffffff;
    text-decoration: none;
}
.news-blog,
.features-left,
.banner-left {
    margin-right: 26px;
}
.banner-left,
.banner-right {
    padding: 27px 20px 25px 20px;
    width: 520px;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 10px;
    vertical-align: top;
}
.banner-left {
    background: #810d2b url(../img/banner-left.jpg);
}
.banner-right {
    background: #482c1f url(../img/banner-right.jpg);
}
.banner-left h2,
.banner-right h2 {
    margin-bottom: 20px;
}
.banner-left p,
.banner-right p {
    margin-bottom: 44px;
    font-size: 18px;
    font-weight: bold;
}
.banner-left a,
.banner-right a {
    padding: 13px 23px;
    text-align: right;
    float: right;
    border-radius: 25px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.hits {
    margin-bottom: 40px;
}
.hits article {
    display: inline-block;
    width: 267px;
    margin-right: 26px;
    min-height: 324px;
    vertical-align: top;
    text-align: center;
    position: relative;
}
.hits article::before {
    position: absolute;
    content: "";
    background: url(../img/spritesheet.png) no-repeat -176px -92px;
    width: 61px;
    height: 61px;
}
.hits img {
    margin-bottom: 5px;
    width: 267px;
    height: 267px;
}
.hits .hits-price {
    font-size: 45px;
    line-height: 13px;
    font-weight: bold;
    position: absolute;
    top: 225px;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}
.hits-price span {
    font-size: 30px;
    font-weight: bold;
}
.hits article:last-child {
    margin: 0;
}
.hits a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.hits a:hover,
.hits a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}
.features {
    background: #eaddc0 url(../img/features-bg.jpg);
    margin-bottom: 40px;
    padding: 21px 21px 5px 21px;
    border-radius: 10px;
}
.features-left,
.features-right {
    display: inline-block;
    vertical-align: top;
    color: #323232;
}
.features h3 {
    margin-bottom: 23px;
    color: #323232;
}
.features-left {
    padding-left: 55px;
    margin-right: 26px;
    width: 483px;
}
.features-right {
    padding-left: 55px;
    width: 483px;
}
.features-left li,
.features-right li {
    margin-bottom: 20px;
    position: relative;
}
.features-left li:first-child::before {
    content: "";
    position: absolute;
    left: -55px;
    top: -13px;
    background: url(../img/spritesheet.png) no-repeat -5px -92px;
    width: 47px;
    height: 47px;
}
.features-left li:last-child::before {
    content: "";
    position: absolute;
    left: -55px;
    top: -13px;
    background: url(../img/spritesheet.png) no-repeat -62px -92px;
    width: 47px;
    height: 47px;
}
.features-right li:first-child::before {
    content: "";
    position: absolute;
    left: -55px;
    top: -13px;
    background: url(../img/spritesheet.png) no-repeat -136px -35px;
    width: 47px;
    height: 47px;
}
.features-right li:last-child::before {
    content: "";
    position: absolute;
    left: -55px;
    top: -13px;
    background: url(../img/spritesheet.png) no-repeat -119px -92px;
    width: 47px;
    height: 47px;
}
.news-blog,
.news-subscribe {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
    border-radius: 10px;
}
.news-blog {
    padding: 25px 22px;
    width: 516px;
    height: 170px;
    background: #ffffff url(../img/blog-bg.jpg) no-repeat 15% 40%;
    overflow: hidden;
}
.news-blog p {
    margin-bottom: 5px;
    font-weight: 500;
    color: #5a5a5a;
}
.news-blog a {
    font-size: 24px;
    font-weight: bold;
    color: #323232;
    line-height: 32px;
    text-decoration: none;
    border-bottom: 2px solid #323232;
}
.news-blog a:hover,
.news-blog a:active {
    color: #ec593c;
    border-bottom: 2px solid #ec593c;
}
.news-subscribe {
    padding: 36px 27px 40px 27px;
    width: 506px;
    height: 144px;
    background: #f8f7f4 url(../img/subscribe-bg.png);
    overflow: hidden;
}
.news-subscribe p {
    margin-bottom: 35px;
    color: #5a5a5a;
}
.subscribe-form {
    position: relative;
}
.subscribe-form input {
    padding: 11px 205px 11px 12px;
    box-sizing: border-box;
    width: 368px;
    height: 43px;
    line-height: 24px;
    color: #999999;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
}
.subscribe-form input:hover,
.subscribe-form input:focus {
    padding: 10px 204px 10px 11px;
}
.subscribe-form button {
    padding: 10px 18px;
    margin-left: 10px;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    border-radius: 25px;
    text-align: center;
}
.map {
    margin: auto;
    height: 430px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
iframe {
    border: 0;
    width: 100%;
    height: 430px;
}
.contacts {
    width: 252px;
    min-height: 245px;
    padding: 25px;
    background: #ffffff;
    position: absolute;
    right: 27px;
    bottom: -367px;
    border-radius: 10px;
    color: #323232;
}
.contacts-adress {
    margin-bottom: 21px;
    font-size: 14px;
}
.contacts-tel {
    margin-bottom: 26px;
    font-size: 14px;
}
.contacts strong {
    font-size: 18px;
}
.contacts a {
    padding: 12px 35px 12px 30px;
    display: block;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border-radius: 25px;
}
footer {
    margin: 0 auto;
    width: 1146px;
    padding: 0 27px;
    position: relative;
}
.developer {
    padding-top: 5px;
    padding-left: 76px;
    width: 191px;
    text-align: left;
    font-size: 12px;
    color: #ffffff;
    margin-bottom: 5px;
    text-decoration: none;
}
.html-ac-link {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.social {
    width: 267px;
    margin: 35px 0 30px 0;
}
.sub-links {
    width: 560px;
    margin-right: 26px;
    margin-left: 26px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
}
.sub-links a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.sub-links a:hover,
.sub-links a:active,
.html-ac-link:hover,
.html-ac-link:active {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}
.sub-links-left {
    margin-right: 30px;
    position: relative;
}
.sub-links-left::before {
    content: "";
    background: url(../img/spritesheet.png) no-repeat -219px -32px;
    width: 15px;
    height: 13px;
    position: absolute;
    left: -20px;
    top: 5px;
}
.sub-links li {
    text-align: left;
}
.developer>a {
    display: inline-block;
    vertical-align: top;
    content: "";
    background: url(../img/spritesheet.png) no-repeat -5px -149px;
    width: 108px;
    height: 37px;
    text-decoration: none;
}
.twitter::before,
.instagram::before,
.facebook::before,
.vkontakte::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: url(../img/spritesheet.png) no-repeat -247px -136px;
    width: 31px;
    height: 31px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    margin-right: 10px;
}
.instagram::before {
    background-position: -123px -163px;
}
.facebook::before {
    background-position: -95px -35px;
}
.vkontakte::before {
    background-position: -288px -136px;
}
.twitter:hover::before,
.instagram:hover::before,
.facebook:hover::before,
.vkontakte:hover::before {
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 25px;
}
.twitter:active::before,
.instagram:active::before,
.facebook:active::before,
.vkontakte:active::before {
    border: 3px solid rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 2px 1px 0 #888888;
    border-radius: 25px;
}
/* ************ catalog **************** */

.catalog .active {
    background: #d07058;
    border-radius: 20px;
    color: #ffffff;
}
.catalog .active:hover {
    color: #323232;
}
.content-wrapper-inner {
    width: 1146px;
    padding: 0 27px;
    margin: 0 auto;
    position: relative;
}
.site-wrapper-inner {
    background-color: #849d8f;
    background-image: url(../img/highlight.png);
    background-repeat: repeat-x;
    background-position: 50% 0;
}
.breadcrumbs li,
.options-price,
.options-fatness,
.options-topping,
.options-sorting,
.options-button,
.paginator li {
    display: inline-block;
    vertical-align: top;
}
.breadcrumbs {
    padding-top: 30px;
    margin-bottom: 10px;
}
.breadcrumbs li {
    margin-right: 3px;
    font-size: 14px;
}
.breadcrumbs a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.breadcrumbs a:hover,
.breadcrumbs a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
}
.h1-inner {
    font-size: 35px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.options-price,
.options-fatness,
.options-topping,
.options-sorting,
.options-button {
    margin-right: 15px;
}
.options p {
    font-size: 14px;
    margin-bottom: 3px;
    margin-left: 15px;
}
.options-button {
    box-sizing: border-box;
    height: 36px;
    width: 144px;
    border: 2px solid #ffffff;
    padding: 5px 27px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    font-weight: 500;
    text-align: center;
}
.options-button:hover {
    color: #323232;
    background: #ffffff;
    border: 0;
    font-weight: 500;
}
.options-button:active {
    color: #323232;
    background: #ffffff;
    box-shadow: inset 0 2px 1px 0 #696969;
    border: 0;
    font-weight: 500;
}
.price-slider .controls {
    padding: 0 15px;
    border-radius: 25px;
    height: 38px;
    background: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    position: relative;
    width: 190px;
}
.price-slider .scale {
    background: rgba(255, 255, 255, 0.5);
    height: 4px;
    margin-top: 17px;
}
.price-slider .bar {
    height: 4px;
    background: #ffffff;
    margin-left: 40px;
    width: 78px;
}
.price-slider .controls::before,
.price-slider .controls::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 34px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.price-slider .controls::after {
    left: 132px;
}
.options {
    margin-bottom: 30px;
}
.options-sorting select {
    position: relative;
    padding: 0 15px;
    width: 190px;
    border: none;
    border-radius: 20px;
    height: 38px;
    background-color: #a9bab0;
    color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}
.options-sorting::after {
    content: "";
    display: block;
    position: absolute;
    top: 223px;
    left: 195px;
    border: 5px solid transparent;
    border-top: 5px solid #ffffff;
}
.options-sorting select:hover {
    color: #323232;
    background: #ffffff;
}
.options-fatness li,
.options-topping li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.options-fatness ul,
.options-topping ul {
    border: none;
    border-radius: 50px;
    padding: 7px 0 7px 15px;
    background-color: #a9bab0;
    margin-bottom: 13px;
}
.options-topping ul {
    margin-bottom: 8px;
}
.assortment article {
    position: relative;
    display: inline-block;
    width: 267px;
    margin-right: 26px;
    min-height: 361px;
    vertical-align: top;
    text-align: center;
    border-radius: 5px;
}
.assortment a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}
.assortment-item-copy {
    position: absolute;
    display: inline-block;
    vertical-align: top;
    top: -10px;
    left: -10px;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.12);
    min-height: 390px;
    z-index: 100;
    border-radius: 5px;
}
.assortment .hits-price {
    position: absolute;
    top: 223px;
    font-size: 45px;
    line-height: 13px;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
    z-index: 10;
}
.assortment-item-copy .hits-price {
    position: absolute;
    top: 233px;
}
.assortment-item-copy a {
    text-decoration: none;
    border: 0;
    display: block;
    padding-bottom: 60px;
}
.assortment article:hover>.assortment-item {
    display: none;
}
.assortment article:hover>.assortment-item-copy {
    display: block;
}
.assortment article:nth-child(4n+4) {
    margin-right: 0;
}
.assortment img {
    width: 267px;
    height: 267px;
    margin-bottom: 6px;
}
.assortment .assortment-btn {
    display: block;
    padding: 9px 27px;
    border-radius: 25px;
    border: 0;
    border-bottom: 0;
    font-size: 15px;
    font-weight: bold;
    bottom: 20px;
    position: absolute;
    left: 50%;
    margin-left: -96px;
    text-decoration: none;
    z-index:1000;
}
.paginator {
    text-align: right;
}
.paginator li {
    margin-top: 45px;
    margin-bottom: 41px;
    vertical-align: middle;
}
.paginator-prev {
    display: inline-block;
    background: url(../img/spritesheet.png) no-repeat -265px -79px;
    width: 10px;
    height: 15px;
    margin-right: 10px;
    vertical-align: middle;
    padding-bottom: 2px;
}
.paginator-next {
    display: inline-block;
    background: url(../img/spritesheet.png) no-repeat -247px -79px;
    width: 10px;
    height: 15px;
    margin-left: 10px;
    vertical-align: middle;
    padding-bottom: 2px;
}
.paginator-page {
    color: #ffffff;
    text-decoration: none;
    padding: 3px 8px;
    font-weight: 500;
}
.paginator-page:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 25px;
    width: 25px;
    height: 25px;
    padding: 3px 8px;
}
.paginator-page.active,
.paginator-page:active {
    background: #ffffff;
    border-radius: 25px;
    padding: 3px 8px;
    color: #323232;
}
hr {
    margin: 0;
    padding: 0;
    border: none;
    color: #a9bab0;
    background-color: #a9bab0;
    height: 1px;
}
/**************    скрытые блоки   ****************/

.hidden {
    display: none;
}
.catalog-hidden,
.cart-form,
.user-enter-form,
.feedback-form,
.search-form {
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}
.catalog-hidden {
    border-radius: 5px;
    background: #ffffff;
    min-width: 145px;
}
.catalog:hover .hidden {
    display: block;
}
.catalog-hidden a {
    padding: 9px 20px;
    display: block;
    margin-top: -1px;
    color: #323232;
    text-decoration: none;
    font-size: 14px;
    width: auto;
    border-radius: 0;
}
.catalog-hidden .new-product {
    padding: 11px 20px;
    font-weight: bold;
    border-bottom: 3px solid rgba(50, 50, 50, 0.2);
    margin: 0;
}
.catalog-hidden:hover .new-product {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.catalog-hidden:hover .melorin {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.catalog-hidden li {
    display: block;
    width: 100%;
}
.catalog-hidden a:hover {
    background: #fbded7;
    border-radius: 0;
}
.catalog-hidden a:active {
    background: #f6b5a5;
    border-radius: 0;
    box-shadow: none;
}
.catalog-hidden .active {
    background: #d07058;
    border-radius: 0;
}
.catalog-expand {
  position: absolute;
  padding-top:20px;
  top: 12px;
  left: -5px;
  z-index:100;
}
.active a {
    color: #ffffff;
}
.catalog,
.search {
    position: relative;
}
.search:hover .hidden {
    display: block;
}
.search-form {
    font-size: 14px;
    padding: 15px;
    background: white;
    border-radius: 5px;
}
input[type="search"] {
    padding: 11px 155px 11px 11px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
input[type="search"]:hover,
input[type="search"]:focus {
    padding: 10px 154px 10px 10px;
}
.search-expand {
  position: absolute;
  padding-top:20px;
  right: -5px;
  bottom: -75px;
}
.user-block {
    position: relative;
}
.user-block:hover .hidden {
    display: block;
}
.user-enter-form {
    background: #ffffff;
    width: 240px;
    padding: 20px 16px 0 16px;
    font-size: 13px;
    border-radius: 5px;
    height: 155px;
}
.user-enter-form input {
    display: block;
    box-sizing: border-box;
    width: 240px;
    padding: 10px 15px;
    margin-bottom: 11px;
    border-radius: 5px;
    border: 1px solid #999999;
    font-size: 14px;
}
.user-enter-form input:hover,
.user-enter-form input:focus {
    padding: 9px 14px;
}
.user-enter-form input[type="password"] {
    margin-top:10px;
    margin-bottom: 13px;
}
.user-enter-form a {
    float: left;
    padding-left: 15px;
    color: #323232;
    text-decoration: underline;
}
.user-enter-form a:hover {
    color: #ec593c;
}
.user-enter-form button {
    margin-top: 5px;
    text-align: center;
    padding: 6px 30px;
    border: 0;
    border-radius: 20px;
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}
.user-enter-expand {
  padding-top:20px;
  position: absolute;
  right: 0;
  bottom: -180px;
  z-index: 100;
}
.feedback-form {
    padding: 18px 24px 20px 24px;
    width: 429px;
    background: #ffffff;
    position: absolute;
    left: 50%;
    top: 340px;
    margin-left: -236px;
    border-radius: 10px;
    color: #323232;
}
.feedback-form .feedback-close {
    position: absolute;
    right: 15px;
    top: 15px;
    background: url(../img/spritesheet.png) no-repeat -219px -5px;
    width: 17px;
    height: 17px;
}
.feedback-form p {
    font-size: 24px;
    font-weight: bold;
}
.feedback-form input {
    margin-top: 20px;
    box-sizing: border-box;
    color: #656565;
    font-weight: normal;
}
.feedback-form input[type="email"],
.feedback-form input[type="text"] {
    width: 265px;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
}

.feedback-form input[type="email"] {
  margin-bottom: 20px;
}
.feedback-form input[type="email"]:hover,
.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:focus,
.feedback-form input[type="text"]:focus {
    padding: 11px 14px;
}
.feedback-form textarea {
    width: 395px;
    padding: 12px 15px 123px 15px;
    z-index: 150;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
    resize:none;
    color: #656565;
}
.feedback-form textarea:hover,
.feedback-form textarea:focus {
    padding: 11px 14px 122px 14px;
}
.feedback-form button {
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    text-align: center;
    padding: 12px 25px;
    border: 0;
    margin-right: auto;
    margin-bottom: 7px;
    color: #ffffff;
    font-size: 17px;
    font-weight: bold;
    border-radius: 25px;
    float: right;
}
label[for="feedback-name"],
label[for="feedback-email"],
label[for="feedback-textarea"] {
    visibility: hidden;
    font-size: 11px;
    color: #5b9ddf;
    position: absolute;
    top: 43px;
    left: 39px;
}
label[for="feedback-email"] {
    top: 108px;
}
label[for="feedback-textarea"] {
    top: 173px;
}
#feedback-name:focus ~ label[for="feedback-name"],
#feedback-email:focus ~ label[for="feedback-email"],
#feedback-textarea:focus ~ label[for="feedback-textarea"] {
    visibility: visible;
}
.cart-form {
    padding: 25px 16px 20px 16px;
    width: 508px;
    background: #ffffff;
    font-size: 13px;
    vertical-align: middle;
    border-radius: 5px;
    color: #323232;
}
.cart-expand {
  padding-top:20px;
  position: absolute;
  top: 40px;
  right: 27px;
  z-index: 100;
}
.cart-form img {
    width: 33px;
    height: 33px;
}
.cart:hover .hidden {
    display: block;
}
.cart-form li {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    line-height: 16px;
}
.cart-form ul {
    text-align: left;
    padding-bottom: 15px;
}
.cart-form ul:nth-child(2) {
    border-bottom: 1px solid #cacac7;
    padding-bottom: 22px;
}
.cart-form li:first-child {
    margin-right: 14px;
    position: relative;
    vertical-align: middle;
    width: 14px;
    height: 14px;
}
.cart-form li:first-child::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 5px;
    width: 14px;
    height: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #323232;
}
.cart-form li:first-child::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 5px;
    vertical-align: middle;
    width: 14px;
    height: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(-45deg);
    background: #323232;
}
.cart-form li:nth-child(2) {
    margin-right: 12px;
}
.cart-form li:nth-child(3) {
    width: 220px;
    margin-right: 25px;
}
.cart-form li:nth-child(4) {
    width: 95px;
    margin-right: 30px;
}
.cart-form li:nth-child(5) {
    width: 50px;
}
.cart-form span {
    color: #808080;
}
.cart-form .cart-form-sum,
.cart-form a {
    display: block;
    font-weight: bold;
    color: #323232;
}
.cart-form .cart-form-sum {
    font-size: 15px;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 15px;
}
.cart-form .cart-form-btn {
    border-radius: 20px;
    font-size: 15px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 22px;
    color: #ffffff;
    text-decoration: none;
}
.cart-form .cart-form-btn:hover {
    color: #ffffff;
}
.btn {
    background: linear-gradient(to bottom, #f26843, #e74b36);
    box-shadow: 0 2px 2px 0 #ac1000;
    text-align: center;
    color: #ffffff;
}
.btn:hover {
    background: linear-gradient(to bottom, #f48568, #ed705e);
}
.btn:active {
    background: linear-gradient(to top, #f26843, #e74b36);
    box-shadow: 0 -2px 2px 0 #ac1000;
}
input,
textarea,
button {
    outline: none;
}
input[type="text"]:hover,
input[type="password"]:hover,
textarea:hover,
input[type="search"]:hover,
input[type="email"]:hover {
    border: 2px solid #9a9a9a;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
input[type="search"]:focus,
input[type="email"]:focus {
    border: 2px solid #2e88e4;
}
input:focus::-webkit-input-placeholder {
    opacity: 0;
}
input:focus::-moz-placeholder {
    opacity: 0;
}
input:focus:-moz-placeholder {
    opacity: 0;
}
input:focus:-ms-input-placeholder {
    opacity: 0;
}
input:focus {
    color: #353535;
    font-weight: bold;
}
label[for="user-block-email"] {
    visibility: hidden;
    font-size: 11px;
    color: #5b9ddf;
    position: absolute;
    top: 23px;
    left: 31px;
}
label[for="user-block-password"] {
    visibility: hidden;
    font-size: 11px;
    color: #5b9ddf;
    position: absolute;
    top: 76px;
    left: 31px;
}
label[for="subscribe-form-email"] {
    visibility: hidden;
    font-size: 11px;
    color: #5b9ddf;
    position: absolute;
    bottom: 38px;
    left: 15px;
}
#user-block-email:focus ~ label[for="user-block-email"],
#user-block-password:focus ~ label[for="user-block-password"],
#subscribe-form-email:focus ~ label[for="subscribe-form-email"] {
    visibility: visible;
}
/****************стилизация radio checkbox*****************/

.options-fatness input,
.options-topping input {
    display: none;
}
.options-fatness label::before {
    content: "";
    display: inline-block;
    background: url(../img/spritesheet.png) no-repeat -347px -79px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 5px;
}
.options-fatness label:hover::before {
    background: url(../img/spritesheet.png) no-repeat -377px -79px;
}
.options-fatness input:checked + label::before {
    content: "";
    display: inline-block;
    background: url(../img/spritesheet.png) no-repeat -283px -79px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.options-fatness input:checked + label:hover::before {
    background: url(../img/spritesheet.png) no-repeat -315px -79px;
    box-sizing: border-box;
}
.options-topping label::before {
    content: "";
    display: inline-block;
    background: url(../img/spritesheet.png) no-repeat -189px -5px;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    vertical-align: middle;
    margin-right: 8px;
}
.options-topping label:hover::before {
    background: url(../img/spritesheet.png) no-repeat -5px -35px;
}
.options-topping input:checked + label::before {
    content: "";
    display: inline-block;
    background: url(../img/spritesheet.png) no-repeat -129px -5px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.options-topping input:checked + label:hover::before {
    background: url(../img/spritesheet.png) no-repeat -159px -5px;
}
/*************** index slider ******************/

.slide,
input[id^="slider-control"] {
    display: none;
}
.slider-controls-label {
    position: absolute;
    top: 564px;
    left: 27px;
}
.index-slider label {
    display: inline-block;
    vertical-align: top;
    width: 17px;
    height: 17px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-right: 4px;
    cursor: pointer;
}
#slider-control-1:checked ~ .site-wrapper .slide-1,
#slider-control-2:checked ~ .site-wrapper .slide-2,
#slider-control-3:checked ~ .site-wrapper .slide-3 {
    display: block;
}
#slider-control-1:checked ~ .site-wrapper label[for="slider-control-1"],
#slider-control-2:checked ~ .site-wrapper label[for="slider-control-2"],
#slider-control-3:checked ~ .site-wrapper label[for="slider-control-3"] {
    background-color: #ffffff;
}
label[for="slider-control-1"]:hover,
label[for="slider-control-2"]:hover,
label[for="slider-control-3"]:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
#slider-control-1:checked ~ .site-wrapper {
    background: #849d8f;
}
#slider-control-2:checked ~ .site-wrapper {
    background: #8996a6;
}
#slider-control-3:checked ~ .site-wrapper {
    background: #9d8b84;
}
/*3  селектора, чтобы при уменьшении ширины экрана фоновая картинка не съезжала*/

#slider-control-1:checked ~ .site-wrapper .content-wrapper-index {
    background-image: url(../img/index-bg.png);
    background-repeat: no-repeat;
    background-position: center top;
}
#slider-control-2:checked ~ .site-wrapper .content-wrapper-index {
    background-image: url(../img/index-bg-2.png);
    background-repeat: no-repeat;
    background-position: center top;
}
#slider-control-3:checked ~ .site-wrapper .content-wrapper-index {
    background-image: url(../img/index-bg-3.png);
    background-repeat: no-repeat;
    background-position: center top;
}
.site-wrapper {
    width: auto;
    background: #849d8f;
    transition: background-color 0.5s ease;
}
.content-wrapper-index {
    transition: background-image 0.5s ease;
}
.content-wrapper-index:before,
.content-wrapper-index:after {
    content: "";
    visibility: hidden;
}
.content-wrapper-index:before,
.content-wrapper-index:after {
    background-image: url("../img/index-bg.png");
}
.content-wrapper-index:after {
    background-image: url("../img/index-bg-2.png");
}
.feedback-form {
    display: none;
}
.feedback-form-open {
    display: block;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
}
.feedback-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}
@-webkit-keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
.overlay {
    display: none;
}
.overlay-open {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
    top: 0;
    left: 0;
}
.feedback-form {
    z-index: 50;
}
